<h1>Reading list</h1>
<div class="control-wrapper">
    <app-ui-button class="new-book-btn" routerLink="new">New</app-ui-button>
    <div class="filter-options">
        <ng-container *ngIf="selectedFilter$ | async as selectedFilter">
            <app-ui-button class="reset-filter-btn" (clickEmitter)="resetFilter()">Reset Filter</app-ui-button>
            <app-ui-button class="reading-filter-btn" (clickEmitter)="filterBookList(BookState.READING)" [isChecked]="selectedFilter.selectedState === BookState.READING">Reading</app-ui-button>
            <app-ui-button class="read-filter-btn" (clickEmitter)="filterBookList(BookState.READ)" [isChecked]="selectedFilter.selectedState === BookState.READ">Read</app-ui-button>
        </ng-container>
    </div>
</div>
<ng-container *ngIf="booksFromService$ | async as booksFromService; else loading">
    <app-reading-list-element *ngFor="let book of booksFromService" [bookFromParent]="book"></app-reading-list-element>
</ng-container>

<ng-template #loading>
    <span>Loading books...</span>
</ng-template>
