<h2>Edit Book</h2>
<form (keyup.enter)="editBookList()">
    <ui-input
        inputName="Title"
        [fc]="bookTitleControl"
        [errorDictionary]="{required: 'you must fill the form'}"
    ></ui-input>
    <ui-input
        inputName="Author"
        [fc]="bookAuthorControl"
        [errorDictionary]="{required: 'you must fill the form'}"
    ></ui-input>
    <app-ui-textarea
        inputName="Description"
        [fc]="bookDescriptionControl"
    ></app-ui-textarea>
    <app-ui-button (clickEmitter)="editBookList()" [disabled]="!createBookForm.valid">Edit</app-ui-button>
    <app-ui-button [routerLink]="['../../']">cancel</app-ui-button>
</form>